body{
 
    height: 813px;
    padding: 15px 10px 10px 20px;
    margin: 0px;
    background-color: #191816;
    background-size: cover;
    color: #afb6c2; }
    
h1{
    color: #d4ccb6;
    display: inline-block;
    margin-bottom: 0px;
    font-size: 28px;
    
    
}
h2{
    margin-top: 5px;
    font-size: 15px;   
}
p{
    margin-bottom: 5px;
}

/* Input configs */

.tam{
/* input boxes */ 
    width: 96%;
    height: 35px; 
    border-radius: 5px;
    margin-bottom: 10px;
    border-width: 1px solid;
    color: rgb(175, 182, 194);
    padding: 0px 5px 0px 35px;
    box-sizing: border-box;
}
#dois{
    background-image: url(./images/lock.svg);
    background-repeat: no-repeat;
    background-position: 10px, 50%;
   
}
#um{
    background-image: url(./images/mail.svg);
    background-repeat: no-repeat;
    background-position: 10px, 50px;
    
}
.checkbox{
/* checkbox line*/
    display: inline-block;
}
.submit{
    /* boton */
        background-color: #ffc632;
        width: 97%;
        height: 45px;
        border-radius: 6px;
}
.text{
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
/* Links configs */
} 
a{
    color: #ffc632;
    text-decoration: none;
    /* below links*/
}
.senha{
    float: right;  
    margin: 16px 7px 0px 0px;
    transform: translate(-12px, 4px);
}
.center{
    /* below link text position */
   text-align: center;
   display: block;
   margin-top: 14px;
}


/* --primary-color: #ffc632;
      --text-base: #afb6c2;
      ## **Tipo de fonte:**/
    
    /* tamanho do galaxy s20*/
    /*width: 430px;*/
    /*A largura do iphone 12max é de 428px segundo o firefox */
    @media screen and (min-widith: 430px) {
        
        body{
            background-color: #dddddd ; }
    }