html{
    background-color: white;
}
body{
    /* tamanho do galaxy s20*/
    /*width: 430px;*/
    /*A largura do iphone 12max é de 428px segundo o firefox */ 
    height: 813px;
    padding: 15px 10px 10px 20px;
    margin: 0px;
    background-color: #191816;
    background-size: cover;
    color: #afb6c2; }
h1{
    color: #d4ccb6;
    display: inline-block;
    margin-bottom: 0px;
    font-size: 28px;
    
    
}
h2{
    margin-top: 5px;
    font-size: 15px;   
}
p{
    margin-bottom: 5px;
}
.tam{
/* input boxes */
    background-color: #191816; 
    width: 96%;
    height: 40px; 
    border-radius: 5px;
    margin-bottom: 10px;
    border-color: ;
    border-width: 1px solid;
    color: rgb(175, 182, 194);
}
#box{
/* checkbox*/
}
.checkbox{
/* checkbox line*/
    display: inline-block;
}
a{
/* below links*/
    color: #ffc632;
    text-decoration: none;
}
.senha{
    float: right;  
    margin: 16px 7px 0px 0px;
}
.center{
    /* below link text position */
   text-align: center;
   display: block;
   margin-top: 14px;
}
.submit{
    /* boton */
        background-color: #ffc632;
        width: 97%;
        height: 45px;
        border-radius: 6px;

/* --primary-color: #ffc632;
      --text-base: #afb6c2;
      ## **Tipo de fonte:**

font-family: Poppins 

font Weight: 400, 500 e 600

font-family: Roboto

Font Weight: 400 e 500

Você pode encontrar 
a fonte no [Google Fonts]
(https://fonts.google.com/) /*